body{
  background-color: lightblue;
}
#hMenu{
  background-color: lightgreen; 
  color: black;
  padding: 40px;
  text-align: left;
  list-style-type: none;
}
#vMenu{
  display: inline;
  list-style-type: none;
}
  
#info{
  margin: auto;
  width: 50%;
  padding: 10px
}
  
