body{
  background-color: lightblue;
}
#menu{
  background-color: lightgreen; 
  color: black;
  padding: 40px;
  text-align: left;
  list-style-type: none;
}
#info{
  margin: auto;
  width: 50%;
  border: 3px solid green;
  padding: 10px
}
  
