body{
  background-color: white;
}
.vMenu{
  background-color: lightgreen; 
  color: black;
  padding: 0px;
  text-align: left;
  list-style-type: none;
  width: 15%;
  height: 90%; 
  position: sticky;
  overflow: auto; 
  float: left;
}
.vMenu li{
  border: 2px solid green;

}
.vMenu a{
  color: black;
  text-decoration: none;
  display: block;
}
.hMenu{
   width = 100%;
    
}
.hMenu li{
  display: inline;
  float: left;
  text-decoration: none;
  color: white;
  padding = 8px;
}
.hMenu a{
  font-style:normal;
  color: black;
  padding: 8px;
  background-color: #dddddd;
}

  
.content{
  margin: auto;
  width: 50%;
  padding: 10px;
  float:left;
  position: relative;
}
.title h1{
  font: sans-serif;
  text-align: center;
  font-color:white;
}
.title{
  height: 10%;
  position: sticky;
  width: 100%;
  background-color: #007940;
}
  
